@charset "utf-8";
/* CSS Document */
@import url('font.css');
@import url('media_queries.css');
*
{
	padding:0px;
	margin:0px;
}
a
{
	cursor:pointer;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-size:cover;
-moz-background-size:cover;
-webkit-background-size:cover;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
	background-color:#5aa745;
	font-family:Arial, Helvetica, sans-serif;
}
img a
{
	border:none;
}
.center_container
{
	max-width:938px;
	width:95%;
	margin:0px auto;
}
/**********************************************
*		         Header CSS				      *
**********************************************/
.header_container
{
	float:left;
	width:100%;
	background-image:url(../images/header_upper_bg.png);
	height:138px;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.spdr_logo
{
	float:left;
	width:160px;
	height:90px;
	margin-top:25px;
}
.share_container
{
	float:right;
	margin-top:5px;
	width:246px;
	height:33px;
}
.share_txt
{
	float:left;
	width:82px;
	background-color:#488738;
	height:22px;
	font-weight:bold;
	color:#FFF;
	font-size:11px;
	padding-left: 18px;
    padding-top: 11px;
}
.share_bg
{
	float:left;
	width:34px;
	height:33px;
	background-color:#488738;
	margin-left:1px;
}
.email_icon
{
	float:left;
	background-image:url(../images/share_sprite.png);
	background-repeat:no-repeat;
	background-position:0 0;
	width:29px;
	height:29px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
}
.email_icon_active
{
	float:left;
	background-image:url(../images/share_hover_sprite.png) !important;
	background-repeat:no-repeat;
	background-position:0 0;
	width:29px;
	height:29px;
	margin-top:3px;
	margin-left:3px;
	z-index:9999;
	position: relative;
}
.fb_icon
{
	float:left;
	background-image:url(../images/share_sprite.png);
	background-repeat:no-repeat;
	background-position:-30px 0;
	width:29px;
	height:29px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
}
.fb_icon_active
{
	float:left;
	background-image:url(../images/share_hover_sprite.png);
	background-repeat:no-repeat;
	background-position:-30px 0;
	width:29px;
	height:29px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
		z-index:9999;
	position: relative;
}
.twitter_icon
{
	float:left;
	background-image:url(../images/share_sprite.png);
	background-repeat:no-repeat;
	background-position:-60px 0;
	width:29px;
	height:29px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
}
.twitter_icon_active
{
	float:left;
	background-image:url(../images/share_hover_sprite.png);
	background-repeat:no-repeat;
	background-position:-60px 0;
	width:29px;
	height:29px;
	margin-top:3px;
	margin-left:3px;
	cursor:pointer;
		z-index:9999;
	position: relative;
}
.gmail_icon
{
	float:left;
	background-image:url(../images/share_sprite.png);
	background-repeat:no-repeat;
	background-position:-90px 0;
	width:29px;
	height:29px;
	margin-top:3px;
	cursor:pointer;
	margin-left:3px;
}
.gmail_icon_active
{
	float:left;
	background-image:url(../images/share_hover_sprite.png);
	background-repeat:no-repeat;
	background-position:-90px 0;
	width:29px;
	height:29px;
	margin-top:3px;
	cursor:pointer;
	margin-left:3px;
		z-index:9999;
	position: relative;	
}
/**********************************************
*            Game Play Banner CSS		      *
**********************************************/
.game_container
{
	width:100%;
	float:left;
	height:593px;
	background-image:url(../images/banner_bg.png);
	background-repeat:repeat-x;
}
.game_container_shdow
{
	width:100%;
	float:left;
	height:593px;
	background-image:url(../images/banner_shadow.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
.stop_train_banner
{
	float:left;
	width: 100%;
	height:593px !important;
	background-image:url(../images/stop_train_banner.jpg) !important;
	background-repeat:no-repeat;
	position:relative;

}
.stow_suitcase_banner
{
	float:left;
	width: 100%;
	height:593px !important;
	background-image:url(../images/stow_suitcase_banner.jpg) !important;
	background-repeat:no-repeat;
	position:relative;
}
.park_car_banner
{
	float:left;
	width: 100%;
	height:593px !important;
	background-image:url(../images/park_car_banner.jpg) !important;
	background-repeat:no-repeat;
	position:relative;
}

.stop_train_thumb
{
	float:left;
	width:290px;
	height:240px;
	background-image:url(../images/stop_train_thumb.jpg);
	position:relative;
	overflow:hidden;
	border:5px solid #FFF;
	-webkit-box-shadow: 0px 0px 8px #000;
	-moz-box-shadow:    0px 0px 8px #000;
	box-shadow:         0px 0px 8px #000;
}




.stow_suitcase_thumb
{
	float:left;
	width:290px;
	height:240px;
	background-image:url(../images/stow_suitcase_thumb.jpg);
	position:relative;
	overflow:hidden;
	border:5px solid #FFF;
	-webkit-box-shadow: 0px 0px 8px #000;
	-moz-box-shadow:    0px 0px 8px #000;
	box-shadow:         0px 0px 8px #000;
}
.park_card_thumb
{
	float:left;
	width:290px;
	height:240px;
	background-image:url(../images/park_car_thumb.jpg);
	position:relative;
	overflow:hidden;
	border:5px solid #FFF;
	-webkit-box-shadow: 0px 0px 8px #000;
	-moz-box-shadow:    0px 0px 8px #000;
	box-shadow:         0px 0px 8px #000;
}

.height252
{
	height:252px !important;
}
.height285
{
	height:297px !important;
}
.overlay_box_container
{
	width:297px;
	height:308px;
	background-image:url(../images/overlay_box_upper_bg.png);
	background-repeat:no-repeat;
	position: absolute;
	bottom:0;
	right:0;
	margin-right: 20px;
}
.overlay_box_container h1
{
	font-size:18px;
	text-align:center;
	width:80%;
	margin-top:80px;
	margin-left:30px;
	color:#5b6960;
	font-family: 'UniversCom-85XBlack';
	text-transform:uppercase;

}
.overlay_box_container p
{
	font-size:16px;
	text-align:left;
	width:67%;
	margin-top:20px;
	font-family: 'UniversCom-57Condensed';
	margin-left:52px;
	color:#5b6960;
	letter-spacing: -0.5px;
}
.fix_stow_suitcase
{
	width:72% !important;
	margin-left:43px !important;
}
.box_btn
{
	float:left;
	margin:20px 84px;
}
input [type=button]
{
	border:none;
	background:none;
}
.btn
{
	float:left;
	width:132px;
	height:29px;
	text-align:center;
	font-size:18px;
	background-image:url(../images/btn.png);
	background-repeat:no-repeat;
	color:#FFF;
	font-weight:bold;
	padding-top:10px;
}
.btn a
{
	text-decoration:none;
	color:#FFF;
}
/**********************************************
*           Content_container    		      *
**********************************************/
.content_bg
{
	float:left;
	width:100%;
	background-image:url(../images/header_bottom_bg.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.content_header_login_container
{
	float:left;
	width:100%;
	margin-top:8px;
}
.content_header_login_txt
{
	float:left;
	 font-family: 'UniversLTStd-UltraCn';
	width:76%;
	text-align:right;
	padding-right:20px;
	font-size:28px;
	color:#e7f9ca;
	padding-top:10px;
	text-transform:uppercase;
}
.width83perc
{
	width:83% !important;
}
.login_btn
{
	float:left;
	width:173px;
	margin-top: 5px;
}
.logout_btn
{
	float:left;
	max-width:173px;
	width:9%;
	margin-top: 20px;
	text-transform:uppercase;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:#1a371a;
}
.logout_btn a
{
	color:#1a371a;
	text-decoration:underline;
}
.privacy_lrg_container
{
	float:left;
	width:100%;
	margin-top:320px;
}
.content_nav
{
	float:left;
	width:100%;
	border-bottom:1px solid #add3a2;
	border-top:1px solid #add3a2;
	padding:15px 0px;
	font-size:12px;
	color:#47630a;
	margin-bottom:20px;
}
.content_nav ul
{
	margin:0px;
	padding:0px;
	list-style:none;
	float:left;
	width:100%;
}
.content_nav ul li
{
	list-style:none;
	background-image:url(../images/nav_arrow.png);
	background-repeat:no-repeat;
	padding-left:28px;
	height:19px;
	padding-top:5px;
	margin-left:10px;
	background-position:center left;
	float:left;
}
.content_nav ul li a
{
	color:#47630a;
	text-decoration:underline;
	font-weight:bold;
	cursor:pointer;
}
.content_nav ul li a:hover
{
	color:#FFF;
}
.iri_container
{
	float:left;
	width:69%;
	color:#4d4d4d;
	padding-left:15px;
}
.iri_container p
{
	float:left;
	width:100%;
	font-size:11px;
	line-height:14px;
	margin-top:16px;
}
.iri_container p a, .iri_header a
{
	color:#536d1b !important;
	text-decoration:underline;
}
.ssga_logo
{
	float:left;
	width:100%;
	margin-bottom:20px;
}
.iri_header
{
	float:left;
	width:100%;
	font-size:12px;
	font-weight:bold;
	line-height:14px;
}
.showpp
{
	display:none;
	padding:15px;
	width:97%;
	float:left;
	margin-top:15px;
	background-color:#2f6525;
}
.showpp p
{
	width:100%;
	font-size:12px;
	line-height:14px;
	margin-bottom:15px;
	color:#c7c5c5;
}
.showpp p a
{
	color:#5f840e;
	text-decoration:underline;
	cursor:pointer;

}
.showpp p strong
{
	font-weight:bold;
}
.arrow_down
{
	background-image:url(../images/nav_arrow_down.png) !important;
    background-repeat: no-repeat;
	color:#3b5306 !important;
}
.cross_btn
{
	float:right;
}
.mrgB0
{
	margin-bottom:0px !important;
}
.contactus
{
	display:none;
	padding:15px;
	width:97%;
	float:left;
	margin-top:15px;
	background-color:#2f6525;
	color:#bababa;
}
.contactus p
{
	font-size:14px;
	line-height:18px;
	color:#6f8562;
	font-weight:bold;
	width:100%;
}
.requiredfild_txt
{
	float:left;
	font-size:12px;
	margin-top:10px;
	margin-bottom:10px;
}
.email_lbl_txt_con img
{
	width:100%;
}
.mrgL20
{
	margin-left:20px;
}
em
{
	font-style:italic !important;
}
.red
{
	color:#ff0000 !important;
}

.contactus_left_part
{
	float:left;
	width:50%;
}
.contactus_right_part
{
	float:left;
	width:47%;	
	margin-left: 10px;
}
.contactus_txtbox_container
{
	float:left;
	width:205px;
	margin-top:15px;
}
.contactus_textarea_container
{
	float:left;
	width:100%;
	margin-top:15px;
}
.contactus_textarea_container label
{
	font-size:14px;
	margin-bottom:3px;
	margin-left:3px;
	float:left;
	width:100%;
}
.contactus_txtbox_container label
{
	font-size:14px;
	margin-bottom:3px;
	margin-left:3px;
	float:left;
	width:100%;
}
.contactus_txtbox_container input
{
	font-size:13px;
	width:100%;
	text-indent: 5px;
	float:left;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-top:1px solid #666666;	
	border-bottom:1px solid #666666;
	-webkit-box-shadow: inset 2px 2px 2px -1px;
	box-shadow: inset 2px 2px 2px -1px;
	height:24px;
}
.contactus_textarea_container textarea
{
	font-size:13px;
	width:100%;
	height:139px;
	float:left;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-top:1px solid #666666;	
	border-bottom:1px solid #666666;
	-webkit-box-shadow: inset 2px 2px 2px -1px;
	box-shadow: inset 2px 2px 2px -1px;
}
.width235px
{
	width:235px !important;
}
.width205px
{
	width:205px !important;
}
.form_container
{
	float:left;
	width:100%;
}
.form_footer
{
	float:left;
	width:100%;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	margin-top:20px;
	margin-bottom:20px;
}

.submit_btn
{
	float:right;
	margin-right: 13px;
    margin-top: -20px;
}
.submit_btn input[type="button"]
{
	width:197px;
	height:38px;
	background:url(../images/submit_btn.png) no-repeat;
	border:none;
	cursor:pointer;
}
.cancel_form
{
	float:right;
	margin-right: 20px;
    margin-top: -12px;
	font-size:12px;
	color:#5f840e
}
.cancel_form a
{
	text-decoration:underline;
	color:#5f840e
}
/**********************************************
*                 FOOTER CSS    	 	      *
**********************************************/
.footer_container
{
	float:left;
	width:100%;
	background-image:url(../images/footer_bg.png);
	background-position:center;
	background-repeat:no-repeat;
	height:100px;
}


/***********************************************
slider
************************************************/
#slider {
    width: 100%;
    position: relative;
}

.scroll {
    height: 594px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
	margin:0px auto;
}
.scrollContainer
{

	
}

.scrollContainer div.panel {
    height: 594px;
    width: 938px;
}


ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
	margin-top:70px;
	margin-left:0px;
}

ul.navigation li {
    display: inline;
	float:left;
	width:310px;
}

ul.navigation a {
text-decoration:none !important;
}

ul.navigation a:hover {

}


.selected {
opacity:0.5;
filter: alpha(opacity=50) !important;
-moz-opacity:0.5;
-khtml-opacity: 0.5;
float:left;
border:none;
}

ul.navigation a:focus {
opacity:0.5;
filter: alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;

}

.scrollButtons {
    position: absolute;
    top: 245px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -65px;
}

.scrollButtons.right {
    right: -65px;
}


/*******************************************
***		Box hover caption 				****
*******************************************/
.boxcaption
{ 
	float: left; 
	position: absolute; 
	height: 78px; 
	width: 291px; 
}
.captionfull .boxcaption 
{
	top: 260px;
 	left: 0;
}
.cover .boxcaption 
{
 	top: 287px;
 	left: 0;
}
.cover 
{
	top: 287px;
	left: 0;
}
.view_lb
{
	width:140px;
	height:18px;
	background-image:url(../images/black_trans.png);
	margin:0px auto;
}
.view_lb_arrw
{
	float:left;
	width:9px;
	height:8px;
	margin-left:5px;
	margin-top:5px;
	background-image:url(../images/up_arrow.png);
	background-repeat:no-repeat;
}
.view_lb_txt
{
	float:left;
	width:120px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:3px;
	color:#FFF;
	margin-left:5px;
}
.view_lb_detail
{
	width:100%;
	margin-top:5px;
	height:24px;
	background-image:url(../images/black_trans.png);
}
.view_lb_score_container
{
	float:left;
	margin-top:5px;
	width:90px;
}
.width100px
{
	width:100px !important;
}
.green_txt
{
	float:left;
	font-size:10px;
	color:#637b3e;
	margin-left:12px;
	text-transform:uppercase;
	margin-top:2px;
}
.view_lb_score
{
	float:left;
	margin-left:5px;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
}
.mrgL10
{
	margin-left:10px !important;
}
.mrgL25
{
	margin-left:25px !important;
}
.mrgL24
{
	margin-left:24px !important;
}

/*******************************************
*        	Light box 				       *
*******************************************/
#lightbox{
	display:none;
   	background:#000000;
	opacity:0.6;
	filter:alpha(opacity=60);
	position:fixed;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;
	height:100%;
	bottom:0;
}
#lightbox-panel{
	display:none;
	position:fixed;
	top:50px;
	margin:-15px auto 0 5%;
	width:60%;
	background:#dae5e7;
	z-index:1001;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow:    0px 0px 10px #000;
	box-shadow:         0px 0px 10px #000;
}
.light_box_hdr_shdw
{
	float:left;
	width:100%;
	height:40px;
	background-image:url(../images/box_header_shodw.png);
	background-repeat:no-repeat;
	background-position:top center;
}
.light_box_cross_btn
{
	float:left;
	position:absolute;
	right:10px;
	top:10px;
	font-size:12px;
	color:#5f840e;
	line-height:18px;
}
.light_box_cross_btn a
{
	color:#5f840e;
	text-decoration:underline;
}
.light_box_cross_btn span
{
	float:left;
	margin-top:-2px;
	margin-right:5px;
	text-decoration:underline;
}
.fb_btn_contnr
{
	float:left;
	width:96%;
	margin:10px 0 30px 55px;
}
.fb_btn
{
	float:left;
}
.register_container
{
	float:left;
	width:34%;
	padding-top:25px;
	margin-left:7%;
	border-top:1px solid #65785a;
	margin-bottom:35px;
}
.register_container .heading
{
	float:left;
	width:100%;
	color:#65785a;
	font-size:18px;
	font-family: 'UniversCom-85XBlack';
	text-transform:uppercase;
}
.requirefield
{
	float:left;
	width:100%;
	font-size:13px;
	color:#666666;
	margin-top:5px;
}
.red
{
	color:#cf1718 !important;
}
.txtbox_lbl_container
{
	float:left;
	width:80%;
	margin-top:10px;
}
.txtbox_lbl_container .txt_lbl
{
	float:left;
	width:100%;
	font-size:13px;
	font-weight:700;
	color:#606060;
}
.txtbox_lbl_container input
{
	float:left;
	width:100%;
	background:#FFF;
	height:22px;
	text-indent:5px;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #666666;
	border-left:1px solid #b2b2b2;
	border-right:1px solid #b2b2b2;
	margin-top:5px;
    -moz-box-shadow:inset 0px 1px 1px #000000;
    -webkit-box-shadow:inset 0px 1px 1px #000000;
    box-shadow:inset 0px 1px 1px #000000;
}
.submit_btn_regis
{
	margin-right:0px !important;
    margin-top:10px;
}
.cancel_regis
{
	float:right;
	margin-right:0px !important;
	font-size:12px;
	color:#5f840e;
	text-decoration:underline;
	margin-top:10px;
}
.cancel_regis a
{
	text-decoration:underline;
	color:#5f840e
}
.or_txt
{
	float:left;
	margin-left:7%;
	font-size:18px;
	color:#5f840e;
	margin-top:-10px;
	font-family: 'UniversCom-85XBlack';
}
.login_btn_inner
{
	float:right;
    margin-top:10px;
	width:169px;
	height:38px;
}
.login_btn_inner input[type="button"]
{
	width:169;
	height:38px;
	background:url(../images/login_btn_inner.png) no-repeat;
	border:none;
	cursor:pointer;
}
.forgt_pswd
{
	float:left;
	margin-right:0px !important;
	font-size:12px;
	color:#5f840e;
	margin-top:10px;
}
.forgt_pswd a
{
	text-decoration:underline;
	color:#5f840e
}
#showfrgtpsw
{
	display:none;
	float:left;
	margin-top:20px;
	margin-left:7%;
	margin-bottom:35px;
}
.frgt_psw_heading
{
	float:left;
	width:100%;
	font-family: 'UniversCom-85XBlack';
	font-size:18px;
	color:#5f840e;
	text-transform:uppercase;
}
.frgt_psw_content
{
	float:left;
	width:100%;
	margin-top:10px;
	font-size:13px;
	line-height:18px;	
	color:#606060;
}
.frgtpwd_txtbx_cont
{
	float:left;
	width:40%;
	padding-top:25px;
}
.captcha_cont
{
	float:left;
	margin-top:5px;
	width:442px;
	height:108px;
}
.frgt_pswd_sbmit
{
	float:left;
	width:100%;
	text-align:center;
	margin-top:20px;
}

.frgt_pswd_sbmit input[type="button"]
{
	width:197px;
	height:38px;
	background:url(../images/submit_btn.png) no-repeat;
	border:none;
	margin:0px auto;
	cursor:pointer;
}
#thankyou
{
	display:none;
	float:left;
	font-size:20px;
	color:#fff;
}
.thankyou_container
{
	float:left;
	width:60%;
	margin:15%;
	margin-bottom:30%;
	height:50px;
}
.thankyou_heading
{
	float:left;
	width:100%;
	font-family: 'UniversCom-85XBlack';
	font-size:18px;
	color:#65785a;
	font-weight:800;
	text-transform:uppercase;
}
.thankyou_content
{
	float:left;
	width:100%;
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:22px;
	color:#696969;
}

.thankyou_close_btn
{
	float:right;
    margin-top: 10px;
	width:169px;
	height:38px;
}
.thankyou_close_btn input[type="button"]
{
	width:169px;
	height:38px;
	background:url(../images/close_btn.png) no-repeat;
	border:none;
	cursor:pointer;
}

#emailsent
{
	display:none;
}

#emailbox_backlight{
	display:none;
   	background:#000000;
	opacity:0.3;
	filter:alpha(opacity=30);
	position:fixed;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;
	height:100%;
	bottom:0;
}
#email-panel{
	display:none;
	position:absolute;
	top:50px;
	right:90px;
	width:58%;
	padding-bottom: 20px;
	margin-left:5%;
	background:#FFF;
	z-index:1001;
	-webkit-box-shadow: 0px 0px 5px 1px #000;
	-moz-box-shadow:    0px 0px 5px 1px #000;
	box-shadow:         0px 0px 5px 1px #000;
}
#fb-panel{
	display:none;
	position:absolute;
	top:50px;
	right:90px;
	width:58%;
	padding-bottom: 20px;
	margin-left:5%;
	background:#FFF;
	z-index:1001;
	-webkit-box-shadow: 0px 0px 5px 1px #000;
	-moz-box-shadow:    0px 0px 5px 1px #000;
	box-shadow:         0px 0px 5px 1px #000;
}
#gmail-panel{
	display:none;
	position:absolute;
	top:50px;
	right:90px;
	width:58%;
	padding-bottom: 20px;
	margin-left:5%;
	background:#FFF;
	z-index:1001;
	-webkit-box-shadow: 0px 0px 5px 1px #000;
	-moz-box-shadow:    0px 0px 5px 1px #000;
	box-shadow:         0px 0px 5px 1px #000;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFF;
	margin-top: -10px;
    position: absolute;
}
.arrow-up-email {
    right: 29.5%;
}
.arrow-up-fb {
    right: 20%;
}
.arrow-up-gmail {
    right: 16%;
}
.email_header
{
	width:98%;
	margin-left:10px;
	float:left;
	margin-top:10px;
	border-bottom:1px solid #7fab69;
}
.email_header_left
{
	float:left;
	width:60%;
}
.email_header_left h3
{
	float:left;
	width:100%;
	font-family: 'UniversCom-85XBlack';
	font-size:18px;
	margin-top:25px;
	color:#3f3f3f;
	text-transform:uppercase;
}
.email_header_left h1
{
	float:left;
	margin-top:10px;
	margin-bottom:15px;
	line-height:23px;
	letter-spacing:-2px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	font-weight:bold;
	color:#496f40;
	text-transform:uppercase;
}
.email_header_right
{
	float:left;
	width:38%;
	margin-left: 10px;
}
.email_header_right_content
{
	float:left;
	margin-top:25px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#666666;
}
.email_header_right_content a
{
	color:#5f840e;
	text-decoration:underline;
}
.email_lbl_txt_con
{
	float:left;
	width:45%;
	margin-left:20px;
	margin-top:15px;
}
.width95perc
{
	width:95%;
}
.email_lbl_txt_con .email_txt_lbl
{
	float:left;
	width:100%;
	font-size:13px;
	font-weight:700;
	color:#606060;
}
.email_lbl_txt_con input
{
	float:left;
	width:100%;
	background:#FFF;
	height:22px;
	text-indent:5px;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #666666;
	border-left:1px solid #b2b2b2;
	border-right:1px solid #b2b2b2;
	margin-top:5px;
    -moz-box-shadow:inset 0px 1px 1px #000000;
    -webkit-box-shadow:inset 0px 1px 1px #000000;
    box-shadow:inset 0px 1px 1px #000000;
}

.email_lbl_txt_con textarea
{
	float:left;
	width:100%;
	background:#FFF;
	height:22px;
	width:100% !important;
	height:60px !important;
	text-indent:5px;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #666666;
	border-left:1px solid #b2b2b2;
	border-right:1px solid #b2b2b2;
	margin-top:5px;
    -moz-box-shadow:inset 0px 1px 1px #000000;
    -webkit-box-shadow:inset 0px 1px 1px #000000;
    box-shadow:inset 0px 1px 1px #000000;
}
.font12
{
	font-size:12px !important;
}
.font11
{
	font-size:11px !important;
}
.mrgB10
{
	margin-bottom:10px;
}
.mrgT20
{
	margin-top:20px !important;
}
.fontnormal
{
	font-weight:normal !important;
}
.preview_email
{
	float:left;
	font-size:13px;
	margin-top:15px;
	margin-bottom:10px;
	color:#81a36e;
	width:100%;
	text-transform:uppercase;
}
.preview_email_img
{
	float:left;
	width:94%;
}

.preview_email_img img
{
	width:100%;
}
.cancel_email {
    color: #5F840E;
    float: left;
    font-size: 12px;
    margin-right: 0 !important;
    margin-top: 29px;
    text-align: right;
    width: 94%;
}
.cancel_email a {
    color: #5F840E;
	text-decoration:underline;
}
.email_sent_recp
{
	float:left;
	width:100%;
	font-size:12px;
	color:#606060;
	font-family:arial;
	margin-left:20px;
	margin-top:15px;
}
.floatL
{
	float:left !important;
}
.send_again
{
	float:left;
	margin-left:20px;
	margin-top:20px;
	width:202px;
	height:39px;
}
.send_again input[type="button"]
{
	width:202px;
	height:39px;
	background:url(../images/send_again.png) no-repeat;
	border:none;
	cursor:pointer;
}
.fb_link
{
	float:left;
	margin:30px;
}
.gmail_link
{
	float:left;
	margin:30px;
}
.user_score_bg
{
	float:left;
	width:300px;
	height:30px;
	padding-top:10px;
	background-image:url(../images/score_bg.png);
	background-repeat:no-repeat;
	background-position: center top;
	margin-top: -8px;
}

.user_score_container
{
	float:left;
	margin-top:4px;
	width:80px;
}
.user_green_txt
{
	float:left;
	font-size:10px;
	color:#0b411d;
	font-weight:bold;
	margin-left:5px;
	text-transform:uppercase;
	margin-top:2px;
}
.user_score
{
	float:left;
	margin-left:5px;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
}