.invalid{border: 1px solid #E42323 !important;color: #F00;}
#loading_data1{display: none;}
.display_block{display:block;}
.gmail_icon{overflow: hidden;}
.Bh.fw{text-indent: -2000px !important;border: 0px !important;background: none !important;}
.WC .fw .ro {
    background: none no-repeat scroll -46px -20px transparent  !important;
    height: 14px;
    width: 14px;
}
.clear{clear:both;}
#fbcontent{padding: 20px;height: 240px}
.email_sent_recp{width: 97% !important;}
#gmail-panel{height: 291px;}
